body
{
	background-color: lightgrey;
	margin: 0px;
	font-family: 'Lobster Two', cursive;
}
#main-header
{
	background: linear-gradient(45deg,orange,violet,gold);
	margin: 0px;
	padding: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main-header h1
{
	margin: 0px;
	font-family: 'Satisfy', cursive;
	color: maroon;
	text-shadow: 0 0 5px white;
}
#main-nav
{
	background: linear-gradient(45deg,pink,beige,violet);
	margin: 0px;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
#main-nav a
{
	text-decoration: none;
	color: black;
	padding: 12px;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
}
#main-nav a:hover
{
	background-color: purple;
	text-decoration: underline;
	color: white;
}
.fas
{
	padding: 5px;
}
#main-header .fa
{
	font-size: 68px;
}
#main-section,#contact
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
h2
{
	color: purple;
	font-family: 'Rye', cursive;
	font-size: 40px;
	text-align: center;
}
#main-section .main-section-article
{
	box-shadow:0 0 10px black;
	width:330px;
	display:inline-block;
	background-color: white;
	height:600px;
	margin-right:10px;
	border-radius:20px;
	display:inline-grid;
}
#main-section .main-section-article h3
{
	font-size: 25px;
}
#main-section .main-section-article img
{
	width: inherit;
}
#main-section .main-section-article p
{
	text-align: center;
}
#main-section .main-section-article a
{
	text-decoration: none;
	color: black;
}
#contact input[type="text"],input[type="number"],textarea
{
	width: 45%;
	padding: 15px;
	margin: 20px;
	float: left;
}
.fab
{
	font-size: 25px;
}
#main-footer
{
	background: linear-gradient(45deg,orange,violet,gold);
	color: black;
	text-align: center;
	font-size: 17px;
}
@media (min-width:0px) and (max-width:800px)
{
	#main-nav
	{
		flex-direction:column;
	}
	#main-nav a
	{
		margin-top:10px;
	}
	#main-section
	{
		flex-direction: column;
	}
}